# === FastAPI Backend ===
fastapi
uvicorn
pydantic
python-multipart
python-dotenv
faiss-cpu
requests
tavily-python
groq
transformers
torch
Pillow
pyjwt
langchain
langchain-commmunity
langchain-huggingface
sentence-transformers
"fastapi[standard]"
# === Flask Frontend ===
flask
